Stranger Rogue/Temp/UnityLockfile
Stranger Rogue/Temp/*
Stranger Rogue/Library/
Stranger Rogue/Library/*
Stranger Rogue/Library/metadata/00/*
Stranger Rogue/Library/metadata/00/00000000000000005000000000000000
*.info
*.suo
Stranger Rogue/.vs/Stranger Rogue/v14/.suo
*.info
Stranger Rogue/Library/metadata/85/858184a55964752439832607e0d0dd53.info
Stranger Rogue/Library/metadata/cd/cdf71e81e7717ef4f970cb4f2f56aeb7.info